In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [2]:
import sys  
sys.path.insert(0, r'C:/Users/jugat/Documents/a_JUGATX/FORMACION/DATA SCIENCE/Functions')

from fx_OUTLIERS import *
from functions_plot_EDA import *
from My_EDA_Functions_library import*
from My_EDA_Visualisation_Functions_library import*

In [ ]:
#This notebook follows the procedure set out to work with B2C 2019 sales in previous notebook

# IMPORT 2020 B2C SALES

In [5]:
usecols_ =['FECHA','CLIENTE', 'CANTIDAD','MODELO', 'COLOR', 'TALLA','PRECIO','DESCUENTO','TOTAL','PUNTO DE VENTA']

In [6]:
df_salesB2C_2020 = pd.concat(pd.read_excel('../datasets/Sales/B2C/2020_VENTAS_INVENTARIO_PRODUCCION.xlsx', skiprows=np.arange(0,2),
            usecols= usecols_,
            sheet_name= None), ignore_index = True)

In [7]:
df_salesB2C_2020

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
0,2020-12-27 00:00:00,Andrea Carral,1.0,Geminis Top,Ash/Lavanda,M,750.0,0.15,637.5,SHOPIFY
1,NaN,NaN,1.0,Maca,Lavanda,S,750.0,0.15,637.5,SHOPIFY
2,2020-12-30 00:00:00,Ana Paula Huitron Regalado,1.0,Naranjo,Lavanda,L,1590.0,0.15,1351.5,SHOPIFY
3,NaN,NaN,1.0,Milo Bodysuit,Herraduras,M,1780.0,NaN,1780.0,SHOPIFY
4,2020-01-02 00:00:00,El muchacho de lentes jeje,1.0,Margot,Tan,M,845.0,0.1,760.5,SHOWROOM
...,...,...,...,...,...,...,...,...,...,...
160,2020-05-29 00:00:00,Leonora,1.0,Naranjo 2.0,Tan,S,0.0,NaN,0.0,INTERCAMBIO
161,2020-06-08 00:00:00,FABI B,1.0,LA NOSTALGIA,BLACK,M,1570.0,NaN,1570.0,SHOWROOM
162,NaT,NaN,1.0,ARIES,LAVANDER,L,850.0,0.2,680.0,SHOWROOM
163,2020-06-08 00:00:00,RUTH,1.0,PALOMA,INDIGO,S,1350.0,NaN,1350.0,SHOWROOM
164,2020-06-08 00:00:00,VALENTINA,1.0,EMILIA,CORAL,L,1350.0,NaN,1350.0,SHOWROOM

# DATA CLEANSING

In [8]:
df_salesB2C_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FECHA           88 non-null     object
 1   CLIENTE         88 non-null     object
 2   CANTIDAD        164 non-null    float64
 3   MODELO          164 non-null    object
 4   COLOR           165 non-null    object
 5   TALLA           163 non-null    object
 6   PRECIO          163 non-null    float64
 7   DESCUENTO       88 non-null     object
 8   TOTAL           164 non-null    float64
 9   PUNTO DE VENTA  155 non-null    object
dtypes: float64(3), object(7)
memory usage: 13.0+ KB

In [9]:
def percentage_nullValues(data):
    null_perc = round(data.isnull().sum() / data.shape[0],3) * 100.00
    null_perc = pd.DataFrame(null_perc, columns=['Percentage_NaN'])
    null_perc= null_perc.sort_values(by = ['Percentage_NaN'], ascending = False)
    return null_perc

In [10]:
percentage_nullValues(df_salesB2C_2020)

                Percentage_NaN
FECHA                     46.7
CLIENTE                   46.7
DESCUENTO                 46.7
PUNTO DE VENTA             6.1
TALLA                      1.2
PRECIO                     1.2
CANTIDAD                   0.6
MODELO                     0.6
TOTAL                      0.6
COLOR                      0.0

## Replace NaT and NaN in date and Client

In [11]:
df_salesB2C_2020['CLIENTE'] = df_salesB2C_2020.CLIENTE.fillna(method='ffill')

In [12]:
df_salesB2C_2020['FECHA'] = df_salesB2C_2020.FECHA.fillna(method='ffill')

In [13]:
df_salesB2C_2020.head()

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
0,2020-12-27 00:00:00,Andrea Carral,1.0,Geminis Top,Ash/Lavanda,M,750.0,0.15,637.5,SHOPIFY
1,2020-12-27 00:00:00,Andrea Carral,1.0,Maca,Lavanda,S,750.0,0.15,637.5,SHOPIFY
2,2020-12-30 00:00:00,Ana Paula Huitron Regalado,1.0,Naranjo,Lavanda,L,1590.0,0.15,1351.5,SHOPIFY
3,2020-12-30 00:00:00,Ana Paula Huitron Regalado,1.0,Milo Bodysuit,Herraduras,M,1780.0,NaN,1780.0,SHOPIFY
4,2020-01-02 00:00:00,El muchacho de lentes jeje,1.0,Margot,Tan,M,845.0,0.1,760.5,SHOWROOM

In [14]:
df_salesB2C_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FECHA           165 non-null    object
 1   CLIENTE         165 non-null    object
 2   CANTIDAD        164 non-null    float64
 3   MODELO          164 non-null    object
 4   COLOR           165 non-null    object
 5   TALLA           163 non-null    object
 6   PRECIO          163 non-null    float64
 7   DESCUENTO       88 non-null     object
 8   TOTAL           164 non-null    float64
 9   PUNTO DE VENTA  155 non-null    object
dtypes: float64(3), object(7)
memory usage: 13.0+ KB

In [15]:
percentage_nullValues(df_salesB2C_2020)

                Percentage_NaN
DESCUENTO                 46.7
PUNTO DE VENTA             6.1
TALLA                      1.2
PRECIO                     1.2
CANTIDAD                   0.6
MODELO                     0.6
TOTAL                      0.6
FECHA                      0.0
CLIENTE                    0.0
COLOR                      0.0

In [16]:
#Delete rows with 0.0 in total (exchanges or presents)

In [17]:
df_salesB2C_2020.drop(df_salesB2C_2020[df_salesB2C_2020['TOTAL'] == 0].index, inplace = True)

In [18]:
df_salesB2C_2020.shape

(156, 10)

## Dealing with NaN values

In [19]:
df_salesB2C_2020[df_salesB2C_2020['TOTAL'].isna()]

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
56,2020-02-12 00:00:00,Marian Gomez,NaN,NaN,Bottom,S,NaN,NaN,NaN,SHOWROOM

In [20]:
df_salesB2C_2020.at[56, 'CANTIDAD'] = 1

In [21]:
df_salesB2C_2020.at[56, 'MODELO'] = 'Milo Set'

In [22]:
df_salesB2C_2020.at[56, 'PRECIO'] = 0

In [23]:
df_salesB2C_2020.at[56, 'DESCUENTO'] = 0

In [24]:
df_salesB2C_2020.at[56, 'TOTAL'] = 0

In [25]:
df_salesB2C_2020[df_salesB2C_2020['TOTAL'].isna()]

Empty DataFrame
Columns: [FECHA, CLIENTE, CANTIDAD, MODELO, COLOR, TALLA, PRECIO, DESCUENTO, TOTAL, PUNTO DE VENTA]
Index: []

In [26]:
df_salesB2C_2020[df_salesB2C_2020['TALLA'].isna()]

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
47,2020-02-04 00:00:00,sisilene glz ruv,1.0,eros,deep rose,NaN,750.0,NaN,750.0,SHOWROOM
48,2020-02-04 00:00:00,sisilene glz ruv,1.0,maca,black,NaN,650.0,0.1,585.0,SHOWROOM

In [27]:
df_salesB2C_2020['TALLA'] = df_salesB2C_2020['TALLA'].fillna('UNKNOWN')

In [28]:
df_salesB2C_2020['DESCUENTO'] = df_salesB2C_2020['DESCUENTO'].fillna(0)

In [29]:
df_salesB2C_2020[df_salesB2C_2020['PUNTO DE VENTA'].isna()]

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
25,2020-01-21 00:00:00,Ale vargas,1.0,Eros,Cherry,L,750.0,0,750.0,NaN
26,2020-01-21 00:00:00,Ale vargas,1.0,Jeronimo,Cherry,M,590.0,0,390.0,NaN
27,2020-01-21 00:00:00,Ale vargas,1.0,Libra,Tan,L,840.0,0,840.0,NaN
42,2020-01-30 00:00:00,TANIA,1.0,Milo Bottom,Herraduras,S,1780.0,0,1780.0,NaN
43,2020-01-30 00:00:00,TANIA,1.0,Eros,Tan,S,750.0,0,750.0,NaN
90,2020-03-13 00:00:00,Marisol Martin Intriago,1.0,Libra,Cherry,L,845.0,0.3,591.5,NaN
91,2020-03-13 00:00:00,Marisol Martin Intriago,1.0,Leandro,Cherry,L,845.0,0.3,591.5,NaN
129,2020-04-27 00:00:00,Fer Alcantara,1.0,Eros,Ash,M,750.0,0.35,487.5,NaN

In [30]:
df_salesB2C_2020['PUNTO DE VENTA'].value_counts()

SHOPIFY      61
SHOWROOM     60
INSTAGRAM    27
Name: PUNTO DE VENTA, dtype: int64

In [31]:
df_salesB2C_2020['PUNTO DE VENTA'] = df_salesB2C_2020['PUNTO DE VENTA'].fillna('UNKNOWN')

In [32]:
percentage_nullValues(df_salesB2C_2020)

                Percentage_NaN
FECHA                      0.0
CLIENTE                    0.0
CANTIDAD                   0.0
MODELO                     0.0
COLOR                      0.0
TALLA                      0.0
PRECIO                     0.0
DESCUENTO                  0.0
TOTAL                      0.0
PUNTO DE VENTA             0.0

In [33]:
df_salesB2C_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 164
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FECHA           156 non-null    object
 1   CLIENTE         156 non-null    object
 2   CANTIDAD        156 non-null    float64
 3   MODELO          156 non-null    object
 4   COLOR           156 non-null    object
 5   TALLA           156 non-null    object
 6   PRECIO          156 non-null    float64
 7   DESCUENTO       156 non-null    object
 8   TOTAL           156 non-null    float64
 9   PUNTO DE VENTA  156 non-null    object
dtypes: float64(3), object(7)
memory usage: 18.4+ KB

In [34]:
df_salesB2C_2020['DESCUENTO'].value_counts()

0       68
0.1     28
0.15    20
0.25    13
0.2      9
0.3      8
0.35     4
0.4      3
0.32     2
sale     1
Name: DESCUENTO, dtype: int64

In [35]:
df_salesB2C_2020[df_salesB2C_2020['DESCUENTO'] == 'sale']

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
34,2020-01-24 00:00:00,alexa arvizu (26 jun),1.0,Maria Bottom,Verde,L,100.0,sale,100.0,SHOWROOM

In [36]:
df_salesB2C_2020.at[34, 'DESCUENTO'] = 0

In [37]:
df_salesB2C_2020['DESCUENTO'] = df_salesB2C_2020['DESCUENTO'].astype('float64', copy = True)

In [38]:
df_salesB2C_2020.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 156 entries, 0 to 164
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FECHA           156 non-null    object
 1   CLIENTE         156 non-null    object
 2   CANTIDAD        156 non-null    float64
 3   MODELO          156 non-null    object
 4   COLOR           156 non-null    object
 5   TALLA           156 non-null    object
 6   PRECIO          156 non-null    float64
 7   DESCUENTO       156 non-null    float64
 8   TOTAL           156 non-null    float64
 9   PUNTO DE VENTA  156 non-null    object
dtypes: float64(4), object(6)
memory usage: 18.4+ KB

In [39]:
df_salesB2C_2020['MODELO'] = df_salesB2C_2020['MODELO'].str.lower()

In [40]:
df_salesB2C_2020['COLOR'] = df_salesB2C_2020['COLOR'].str.lower()

In [41]:
df_salesB2C_2020.head()

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
0,2020-12-27 00:00:00,Andrea Carral,1.0,geminis top,ash/lavanda,M,750.0,0.15,637.5,SHOPIFY
1,2020-12-27 00:00:00,Andrea Carral,1.0,maca,lavanda,S,750.0,0.15,637.5,SHOPIFY
2,2020-12-30 00:00:00,Ana Paula Huitron Regalado,1.0,naranjo,lavanda,L,1590.0,0.15,1351.5,SHOPIFY
3,2020-12-30 00:00:00,Ana Paula Huitron Regalado,1.0,milo bodysuit,herraduras,M,1780.0,0.00,1780.0,SHOPIFY
4,2020-01-02 00:00:00,El muchacho de lentes jeje,1.0,margot,tan,M,845.0,0.10,760.5,SHOWROOM

In [42]:
df_salesB2C_2020.MODELO.unique()

array(['geminis top', 'maca', 'naranjo', 'milo bodysuit', 'margot',
       'pastora', 'palma bottom', 'maria top', 'top muestra', 'olivia',
       'eros', 'leandro', 'milo top', 'lola bottom', 'milo set',
       'lola   ', 'emilia', 'consuelo', 'jeronimo', 'libra', 'top maria',
       'candela', 'maria bottom', 'paloma', 'marcelo set', 'milo bottom',
       'apolo', 'leo', 'lola', 'milo', 'aries', 'naranjo 2.0', 'venus',
       'geminis btt', 'lucia', 'marcelo', 'la luna', 'el sol',
       'la nostalgia', 'la suerte', 'karma', '3gracias'], dtype=object)

In [43]:
df_salesB2C_2020.MODELO = df_salesB2C_2020.MODELO.str.rstrip()

In [44]:
df_salesB2C_2020.MODELO.nunique()

41

In [45]:
mapping  = {'milo set': 'milo', 'top maria':'maria top', 'milo bodysuit': 'milo',
             'marcelo set': 'marcelo', 'geminis btt': 'geminis bottom', 'naranjo 2.0': 'naranjo'}

df_salesB2C_2020['MODELO'].replace(mapping, inplace=True)

In [46]:
df_salesB2C_2020.loc[(df_salesB2C_2020.PRECIO >= 1000),'MODELO']= df_salesB2C_2020['MODELO'].astype(str) + ' ' + 'bodysuit'

In [47]:
df_salesB2C_2020.MODELO.unique()

array(['geminis top', 'maca', 'naranjo bodysuit', 'milo bodysuit',
       'margot', 'pastora bodysuit', 'palma bottom', 'maria top',
       'top muestra', 'olivia bodysuit', 'eros', 'leandro', 'milo top',
       'lola bottom', 'lola', 'emilia bodysuit', 'consuelo bodysuit',
       'jeronimo', 'libra', 'candela', 'maria bottom', 'paloma bodysuit',
       'marcelo bodysuit', 'milo bottom bodysuit', 'apolo', 'leo', 'milo',
       'aries', 'venus bodysuit', 'geminis bottom', 'lucia', 'la luna',
       'el sol', 'la nostalgia bodysuit', 'la suerte bodysuit', 'karma',
       '3gracias bodysuit'], dtype=object)

In [48]:
df_salesB2C_2020.to_csv('SalesB2C_2020.csv')