In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
import sys  
sys.path.insert(0, r'C:/Users/jugat/Documents/a_JUGATX/FORMACION/DATA SCIENCE/Functions')

from fx_OUTLIERS import *
from functions_plot_EDA import *
from My_EDA_Functions_library import*
from My_EDA_Visualisation_Functions_library import*

In [ ]:
# Following on from MalaSW_03_SalesCARAVANA_2019 -

# import inventory and return datasets for substraction

In [3]:
df_inv = pd.read_csv('../datasets/Sales/Caravana/Inventory.csv', index_col=0)

In [4]:
df_ret = pd.read_csv('../datasets/Sales/Caravana/Return.csv', index_col=0)

In [5]:
df_inv

                MODELO                   COLOR TALLA  CANTIDAD
1    3gracias bodysuit  lavender / ash / coral    ch       1.0
2    3gracias bodysuit  lavender / ash / coral    m        1.0
3    3gracias bodysuit  lavender / ash / coral     g       1.0
4      gracia bodysuit                lavender    ch       2.0
5      gracia bodysuit                lavender    m        1.0
..                 ...                     ...   ...       ...
112  consuelo bodysuit                   negro     m       1.0
113  consuelo bodysuit                   negro     g       1.0
114      caña bodysuit                  blanco    ch       2.0
115      caña bodysuit                  blanco     m       1.0
116      caña bodysuit                  blanco     g       2.0

[106 rows x 4 columns]

In [6]:
df_ret

                MODELO        COLOR TALLA  CANTIDAD
0        caña bodysuit       blanco    ch         1
1    consuelo bodysuit        negro     g         1
2   florencia bodysuit      bicolor    ch         1
3   florencia bodysuit      bicolor     m         1
4   florencia bodysuit      bicolor     g         1
..                 ...          ...   ...       ...
77      geminis bottom  lavanda/ash     g         2
78     jeronimo bottom        coral    ch         1
79     jeronimo bottom        coral     g         1
80     jeronimo bottom        negro    ch         1
81     jeronimo bottom        negro     g         1

[82 rows x 4 columns]

# comparing both datasets

In [7]:
list_inv_mod = df_inv.MODELO.unique().tolist()
list_inv_mod

['3gracias bodysuit',
 'gracia bodysuit',
 'naranjo bodysuit',
 'venus bodysuit',
 'eros top',
 'aries top',
 'geminis top',
 'geminis bottom',
 'lola bottom',
 'apolo bottom',
 'maca bottom',
 'florencia bodysuit',
 'jeronimo bottom',
 'piscis top',
 'emilia bodysuit',
 'pastora bodysuit',
 'consuelo bodysuit',
 'caña bodysuit']

In [8]:
list_ret_mod = df_ret.MODELO.unique().tolist()
list_ret_mod

['caña bodysuit',
 'consuelo bodysuit',
 'florencia bodysuit',
 '3gracias bodysuit',
 'venus bodysuit',
 'naranjo bodysuit',
 'pastora bodysuit',
 'emilia bodysuit',
 'piscis top',
 'eros top',
 'geminis top',
 'aries top',
 'lola bottom',
 'apolo bottom',
 'maca bottom',
 'geminis bottom',
 'jeronimo bottom']

In [9]:
def non_match_elements(list_a, list_b):
    non_match = []
    for i in list_a:
        if i not in list_b:
            non_match.append(i)
    return non_match
        

non_match = non_match_elements(list_inv_mod, list_ret_mod)
print("No match elements: ", non_match)

No match elements:  ['gracia bodysuit']

In [10]:
list_inv_col = df_inv.COLOR.unique().tolist()
list_inv_col

['lavender / ash / coral',
 'lavender',
 'ash',
 'coral',
 'lavanda',
 'ash/negro',
 'ash/lavanda',
 'negro (pacific)',
 'coral ',
 'bicolor ash/ negro',
 'cherry',
 'rosa',
 'negro',
 'blanco']

In [11]:
list_ret_col = df_ret.COLOR.unique().tolist()
list_ret_col

['blanco',
 'negro',
 'bicolor',
 'lavanda',
 'coral',
 'ash',
 'cherry',
 'cotton candy',
 'lavanda/ash',
 'ash/negro']

In [12]:
non_match = non_match_elements(list_inv_col, list_ret_col)
print("No match elements: ", non_match)

No match elements:  ['lavender / ash / coral', 'lavender', 'ash/lavanda', 'negro (pacific)', 'coral ', 'bicolor ash/ negro', 'rosa']

In [13]:
mapping_  = {'lavender / ash / coral': 'lavanda/ash/coral', 'lavender':'lavanda',
             'negro (pacific)': 'negro', 'coral ': 'coral', 'bicolor ash/ negro': 'ash/negro', 'rosa':'cotton candy'}

In [14]:
df_inv['COLOR'].replace(mapping_, inplace=True)

In [15]:
df_inv.COLOR.unique()

array(['lavanda/ash/coral', 'lavanda', 'ash', 'coral', 'ash/negro',
       'ash/lavanda', 'negro', 'cherry', 'cotton candy', 'blanco'],
      dtype=object)

In [16]:
list_inv_col = df_inv.COLOR.unique().tolist()
list_ret_col = df_ret.COLOR.unique().tolist()

non_match = non_match_elements(list_inv_col, list_ret_col)
print("No match elements: ", non_match)

No match elements:  ['lavanda/ash/coral', 'ash/lavanda']

In [17]:
df_ret.COLOR.unique()

array(['blanco', 'negro', 'bicolor', 'lavanda', 'coral', 'ash', 'cherry',
       'cotton candy', 'lavanda/ash', 'ash/negro'], dtype=object)

In [18]:
mapping_ret  = {'bicolor': 'ash/negro', 'lavanda/ash':'ash/lavanda'}

In [19]:
df_ret['COLOR'].replace(mapping_ret, inplace=True)

In [20]:
list_inv_col = df_inv.COLOR.unique().tolist()
list_ret_col = df_ret.COLOR.unique().tolist()

list_a = list_inv_col
list_b = list_ret_col
 
non_match = non_match_elements(list_inv_col, list_ret_col)
print("No match elements: ", non_match)

No match elements:  ['lavanda/ash/coral']

In [21]:
df_ret[df_ret['MODELO'] == '3gracias bodysuit']

              MODELO    COLOR TALLA  CANTIDAD
7  3gracias bodysuit  lavanda    ch         1
8  3gracias bodysuit  lavanda     m         1
9  3gracias bodysuit  lavanda     g         1

In [22]:
df_ret.loc[df_ret['MODELO'] == '3gracias bodysuit', 'COLOR'] = 'lavanda/ash/coral'

In [23]:
df_ret[df_ret['MODELO'] == '3gracias bodysuit']

              MODELO              COLOR TALLA  CANTIDAD
7  3gracias bodysuit  lavanda/ash/coral    ch         1
8  3gracias bodysuit  lavanda/ash/coral     m         1
9  3gracias bodysuit  lavanda/ash/coral     g         1

In [24]:
list_inv_col = df_inv.COLOR.unique().tolist()
list_ret_col = df_ret.COLOR.unique().tolist()

list_a = list_inv_col
list_b = list_ret_col
 
non_match = non_match_elements(list_inv_col, list_ret_col)
print("No match elements: ", non_match)

No match elements:  []

# Matching dataframes

In [25]:
df_inv.shape

(106, 4)

In [26]:
df_ret.shape

(82, 4)

In [27]:
df_inv_sort = df_inv.sort_values(by = ['MODELO', 'COLOR', 'TALLA'])
df_ret_sort = df_ret.sort_values(by = ['MODELO', 'COLOR', 'TALLA'])

In [28]:
df_inv_sort

               MODELO              COLOR TALLA  CANTIDAD
1   3gracias bodysuit  lavanda/ash/coral    ch       1.0
3   3gracias bodysuit  lavanda/ash/coral     g       1.0
2   3gracias bodysuit  lavanda/ash/coral    m        1.0
52       apolo bottom                ash    ch       1.0
54       apolo bottom                ash     g       2.0
..                ...                ...   ...       ...
18     venus bodysuit              coral     g       2.0
17     venus bodysuit              coral    m        2.0
66     venus bodysuit              negro    ch       2.0
68     venus bodysuit              negro     g       1.0
67     venus bodysuit              negro    m        2.0

[106 rows x 4 columns]

In [29]:
df_ret[df_ret['MODELO'] == 'geminis top']

         MODELO        COLOR TALLA  CANTIDAD
47  geminis top  ash/lavanda    ch         1
48  geminis top  ash/lavanda     m         2
49  geminis top  ash/lavanda     g         1
50  geminis top    ash/negro    ch         1

# Substracting inventory and returns dataframes

In [30]:
df_inv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 1 to 116
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MODELO    106 non-null    object
 1   COLOR     106 non-null    object
 2   TALLA     106 non-null    object
 3   CANTIDAD  106 non-null    float64
dtypes: float64(1), object(3)
memory usage: 4.1+ KB

In [31]:
# Step 1. Create a new column appending all elements

df_ret['all'] = df_ret['MODELO']+df_ret['COLOR'] + df_ret['TALLA']
df_inv['all'] = df_inv['MODELO']+df_inv['COLOR'] + df_inv['TALLA']

In [32]:
df_ret.head(2)

              MODELO   COLOR TALLA  CANTIDAD                      all
0      caña bodysuit  blanco    ch         1    caña bodysuitblancoch
1  consuelo bodysuit   negro     g         1  consuelo bodysuitnegrog

In [33]:
# Step 2. left join considering the new column between inv (LEFT) and ret (RIGHT) 
common = df_inv.merge(df_ret, on=['all'], how= 'left')
print('Size of common elements', common.shape)

print('Size of inv elements', df_inv.shape)
print('Size of return elements', df_ret.shape)

Size of common elements (106, 9)
Size of inv elements (106, 5)
Size of return elements (82, 5)

In [34]:
common

,MODELO_x,COLOR_x,TALLA_x,CANTIDAD_x,all,MODELO_y,COLOR_y,TALLA_y,CANTIDAD_y
0,3gracias bodysuit,lavanda/ash/coral,ch,1.0,3gracias bodysuitlavanda/ash/coralch,3gracias bodysuit,lavanda/ash/coral,ch,1.0
1,3gracias bodysuit,lavanda/ash/coral,m,1.0,3gracias bodysuitlavanda/ash/coralm,NaN,NaN,NaN,NaN
2,3gracias bodysuit,lavanda/ash/coral,g,1.0,3gracias bodysuitlavanda/ash/coralg,3gracias bodysuit,lavanda/ash/coral,g,1.0
3,gracia bodysuit,lavanda,ch,2.0,gracia bodysuitlavandach,NaN,NaN,NaN,NaN
4,gracia bodysuit,lavanda,m,1.0,gracia bodysuitlavandam,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
101,consuelo bodysuit,negro,m,1.0,consuelo bodysuitnegrom,NaN,NaN,NaN,NaN
102,consuelo bodysuit,negro,g,1.0,consuelo bodysuitnegrog,consuelo bodysuit,negro,g,1.0
103,caña bodysuit,blanco,ch,2.0,caña bodysuitblancoch,caña bodysuit,blanco,ch,1.0
104,caña bodysuit,blanco,m,1.0,caña bodysuitblancom,NaN,NaN,NaN,NaN
105,caña bodysuit,blanco,g,2.0,caña bodysuitblancog,NaN,NaN,NaN,NaN

In [35]:
# Cleaning of the new dataframe
df_sold_caravana_June2019 = common.drop(['MODELO_y','COLOR_y','TALLA_y'], axis=1)
df_sold_caravana_June2019.head(3)

,MODELO_x,COLOR_x,TALLA_x,CANTIDAD_x,all,CANTIDAD_y
0,3gracias bodysuit,lavanda/ash/coral,ch,1.0,3gracias bodysuitlavanda/ash/coralch,1.0
1,3gracias bodysuit,lavanda/ash/coral,m,1.0,3gracias bodysuitlavanda/ash/coralm,NaN
2,3gracias bodysuit,lavanda/ash/coral,g,1.0,3gracias bodysuitlavanda/ash/coralg,1.0

In [36]:
df_sold_caravana_June2019 = df_sold_caravana_June2019.rename({'MODELO_x': 'MODELO','COLOR_x':'COLOR','TALLA_x':'TALLA'}, axis=1)

In [37]:
df_sold_caravana_June2019

,MODELO,COLOR,TALLA,CANTIDAD_x,all,CANTIDAD_y
0,3gracias bodysuit,lavanda/ash/coral,ch,1.0,3gracias bodysuitlavanda/ash/coralch,1.0
1,3gracias bodysuit,lavanda/ash/coral,m,1.0,3gracias bodysuitlavanda/ash/coralm,NaN
2,3gracias bodysuit,lavanda/ash/coral,g,1.0,3gracias bodysuitlavanda/ash/coralg,1.0
3,gracia bodysuit,lavanda,ch,2.0,gracia bodysuitlavandach,NaN
4,gracia bodysuit,lavanda,m,1.0,gracia bodysuitlavandam,NaN
...,...,...,...,...,...,...
101,consuelo bodysuit,negro,m,1.0,consuelo bodysuitnegrom,NaN
102,consuelo bodysuit,negro,g,1.0,consuelo bodysuitnegrog,1.0
103,caña bodysuit,blanco,ch,2.0,caña bodysuitblancoch,1.0
104,caña bodysuit,blanco,m,1.0,caña bodysuitblancom,NaN
105,caña bodysuit,blanco,g,2.0,caña bodysuitblancog,NaN

In [38]:
# Step4. Substract the returned items from the inventory and save it in a new
# variable called CANTIDAD_final

df_sold_caravana_June2019['CANTIDAD_final'] = df_sold_caravana_June2019['CANTIDAD_x'] - df_sold_caravana_June2019['CANTIDAD_y']
df_sold_caravana_June2019.head(2)

,MODELO,COLOR,TALLA,CANTIDAD_x,all,CANTIDAD_y,CANTIDAD_final
0,3gracias bodysuit,lavanda/ash/coral,ch,1.0,3gracias bodysuitlavanda/ash/coralch,1.0,0.0
1,3gracias bodysuit,lavanda/ash/coral,m,1.0,3gracias bodysuitlavanda/ash/coralm,NaN,NaN

In [39]:
df_sold_caravana_June2019['CANTIDAD_final'].value_counts()

 1.0    33
 0.0    30
-1.0     1
Name: CANTIDAD_final, dtype: int64

In [40]:
# Step 5. Fill the NaN (items not in common) with the inventory quantity

df_sold_caravana_June2019['CANTIDAD_final'].fillna(df_sold_caravana_June2019['CANTIDAD_x'], inplace=True)

In [41]:
df_sold_caravana_June2019.columns

Index(['MODELO', 'COLOR', 'TALLA', 'CANTIDAD_x', 'all', 'CANTIDAD_y',
       'CANTIDAD_final'],
      dtype='object')

In [42]:
df_sold_caravana_June2019

,MODELO,COLOR,TALLA,CANTIDAD_x,all,CANTIDAD_y,CANTIDAD_final
0,3gracias bodysuit,lavanda/ash/coral,ch,1.0,3gracias bodysuitlavanda/ash/coralch,1.0,0.0
1,3gracias bodysuit,lavanda/ash/coral,m,1.0,3gracias bodysuitlavanda/ash/coralm,NaN,1.0
2,3gracias bodysuit,lavanda/ash/coral,g,1.0,3gracias bodysuitlavanda/ash/coralg,1.0,0.0
3,gracia bodysuit,lavanda,ch,2.0,gracia bodysuitlavandach,NaN,2.0
4,gracia bodysuit,lavanda,m,1.0,gracia bodysuitlavandam,NaN,1.0
...,...,...,...,...,...,...,...
101,consuelo bodysuit,negro,m,1.0,consuelo bodysuitnegrom,NaN,1.0
102,consuelo bodysuit,negro,g,1.0,consuelo bodysuitnegrog,1.0,0.0
103,caña bodysuit,blanco,ch,2.0,caña bodysuitblancoch,1.0,1.0
104,caña bodysuit,blanco,m,1.0,caña bodysuitblancom,NaN,1.0
105,caña bodysuit,blanco,g,2.0,caña bodysuitblancog,NaN,2.0

In [43]:
df_sold_caravana_June2019.drop(columns=['CANTIDAD_x','all', 'CANTIDAD_y' ], inplace = True)

In [44]:
df_sold_caravana_June2019

                MODELO              COLOR TALLA  CANTIDAD_final
0    3gracias bodysuit  lavanda/ash/coral    ch             0.0
1    3gracias bodysuit  lavanda/ash/coral    m              1.0
2    3gracias bodysuit  lavanda/ash/coral     g             0.0
3      gracia bodysuit            lavanda    ch             2.0
4      gracia bodysuit            lavanda    m              1.0
..                 ...                ...   ...             ...
101  consuelo bodysuit              negro     m             1.0
102  consuelo bodysuit              negro     g             0.0
103      caña bodysuit             blanco    ch             1.0
104      caña bodysuit             blanco     m             1.0
105      caña bodysuit             blanco     g             2.0

[106 rows x 4 columns]

In [ ]:
#Defining previous steps in a function

def merge_quantitites(ret, inv):
    """
    Function to merge the quantities of real items, based on Returns and inventory files.
    input: ret -> df containing the returns, 
           column names: ['MODELO', 'COLOR', 'TALLA', 'ret_CANTIDAD']
           
           inv -> df containing the inventory, 
           column names: ['MODELO', 'COLOR', 'TALLA', 'CANTIDAD']
    """
    # Step 1. Create a new column (all) contaning all the three appended columns (MODELO, COLOR y TALLA)
    ret['all'] = ret['MODELO']+ret['COLOR'] + ret['TALLA']
    inv['all'] = inv['MODELO']+inv['COLOR'] + inv['TALLA']

    # Step 2. left join considering the new column between inv (LEFT) and ret (RIGHT) 
    common = inv.merge(ret, on=['all'], how= 'left')
    print('Size of common elements', common.shape)
    print('Size of inv elements', inv.shape)
    print('Size of return elements', ret.shape)
    print('.................................')
    
    # Step 3. Data cleaning, removing the unnecessary columns
    common = common.drop(['MODELO_y','COLOR_y','TALLA_y'], axis=1)
    common = common.rename({'MODELO_x': 'MODELO','COLOR_x':'COLOR','TALLA_x':'TALLA'}, axis=1)
    
    # Step 4. Substract the returned items from the inventory and save it in a new
    # variable called CANTIDAD_final
    common['CANTIDAD_final'] = common['CANTIDAD'] - common['ret_CANTIDAD']

    # Step 5. Fill the NaN (items not in common) with the inventory quantity
    common['CANTIDAD_final'].fillna(common['CANTIDAD'], inplace=True)
    
    # Step 6. Rearrange of the final dataset
    common = common[['MODELO', 'COLOR', 'TALLA', 'CANTIDAD_final']]
    print('.................................')
    print(common.head(2))
    return common

# Adding prices from B2C sales

In [ ]:
#The inventories from the CARAVANA sales have no prices in them. We will match the models to the B2C sales datasets
#in order to add prices to the CARAVANA sales

In [45]:
df_SalesB2C_2019 = pd.read_csv('../datasets/Sales/B2C/SalesB2C_2019.csv', index_col=0)

In [46]:
df_SalesB2C_2019

,FECHA,CLIENTE,CANTIDAD,MODELO,COLOR,TALLA,PRECIO,DESCUENTO,TOTAL,PUNTO DE VENTA
0,2019-06-05,KAREN (OAXACA),1.0,lola,verde,M,490.0,0.15,416.5,SHOWROOM
1,2019-06-12,MA. FERNANDA ORTIZ,1.0,eros,lavanda,S,750.0,0.10,675.0,SHOWROOM
2,2019-06-12,MA. FERNANDA ORTIZ,1.0,lola,lavanda,M,650.0,0.10,585.0,SHOWROOM
3,2019-06-13,IRMA VILLANUEVA,1.0,eros,lavanda,L,750.0,0.00,750.0,SHOWROOM
4,2019-06-13,IRMA VILLANUEVA,1.0,consuelo bodysuit,cherry,L,1450.0,0.00,1450.0,SHOWROOM
...,...,...,...,...,...,...,...,...,...,...
249,2019-12-16,Manu demichelis,1.0,paloma bodysuit,tan,m,1565.0,0.00,1565.0,INSTAGRAM
250,2019-12-18,andrea fuga,1.0,pastora bodysuit,negro,M,1290.0,0.20,1032.0,INSTAGRAM
252,2019-12-19,Pina,1.0,caña bodysuit,blanco,S,1800.0,0.30,1260.0,SHOWROOM
253,2019-12-20,PAU PLMR,1.0,emilia bodysuit,marsala,M,1565.0,0.00,1565.0,SHOWROOM
254,2019-12-20,MARIANA,1.0,consuelo bodysuit,cherry,M,1450.0,0.10,1305.0,SHOWROOM

In [47]:
df_SalesB2C_2019.MODELO.value_counts()

eros                 24
pastora bodysuit     22
emilia bodysuit      21
lola                 21
paloma bodysuit      12
maca                 12
apolo                11
naranjo bodysuit      9
candela               9
consuelo bodysuit     9
lucia                 8
alma bodysuit         6
venus bodysuit        4
geminis top           4
libra                 4
aries                 4
maca bottom           3
jeronimo              3
eros bodysuit         3
maria                 3
geminis bottom        3
margot                2
caña bodysuit         2
sample                2
dolores               2
mara                  2
maria top             2
olivia bodysuit       2
marcelo bodysuit      2
maria bottom          2
milo bodysuit         1
3gracias bodysuit     1
caña                  1
lola bottom           1
palma bodysuit        1
caña  bodysuit        1
leo bottom            1
 marcelo bodysuit     1
alma                  1
caña bottom           1
caña top              1
barreto bodysuit      1
nina                  1
bodysuit              1
marcelo  bodysuit     1
milo  bodysuit        1
leo                   1
top milo              1
samples               1
sabina                1
leandro               1
top lucia             1
gracia bodysuit       1
Name: MODELO, dtype: int64

In [48]:
df_SalesB2C_2019.MODELO.unique()

array(['lola', 'eros', 'consuelo bodysuit', 'apolo', 'maca',
       'pastora bodysuit', 'emilia bodysuit', 'caña', 'maria', 'lucia',
       'venus bodysuit', 'paloma bodysuit', 'geminis top',
       'geminis bottom', 'naranjo bodysuit', 'aries', 'eros bodysuit',
       'gracia bodysuit', 'nina', 'caña bottom', 'candela',
       'alma bodysuit', 'barreto bodysuit', 'maria bottom',
       '3gracias bodysuit', 'jeronimo', 'alma', 'marcelo  bodysuit',
       'caña top', 'marcelo bodysuit', 'palma bodysuit',
       'olivia bodysuit', 'maria top', 'leo bottom', 'maca bottom',
       'lola bottom', 'milo bodysuit', 'milo  bodysuit', 'mara',
       'caña bodysuit', 'bodysuit', 'dolores', 'top milo', 'samples',
       'sabina', 'top lucia', 'libra', 'margot', 'leandro', 'leo',
       'sample', ' marcelo bodysuit', 'caña  bodysuit'], dtype=object)

In [49]:
df_prices = df_SalesB2C_2019.drop(columns = ['FECHA', 'CLIENTE','CANTIDAD', 'COLOR', 'TALLA', 'DESCUENTO', 'TOTAL', 'PUNTO DE VENTA'])

In [50]:
df_prices.shape

(236, 2)

In [51]:
df_prices.head()

              MODELO  PRECIO
0               lola   490.0
1               eros   750.0
2               lola   650.0
3               eros   750.0
4  consuelo bodysuit  1450.0

In [52]:
uniques = df_prices[['MODELO']].drop_duplicates()

In [53]:
uniques.shape

(53, 1)

In [54]:
df1 = df_sold_caravana_June2019.copy()
df2 = df_prices.copy()


rhs = (df1.MODELO
          .apply(lambda x: df2[df2.MODELO.str.find(x).ge(0)]['PRECIO'])
          .bfill(axis=1)
          .iloc[:, 0])

df_sold_caravana_June2019_price = (pd.concat([df1, rhs], axis=1, ignore_index=True))
 
df_sold_caravana_June2019_price.rename(columns={0: 'MODELO', 1: 'COLOR', 2:'TALLA', 3: 'CANTIDAD', 4:'PRECIO'}, inplace = True)

In [55]:
df_sold_caravana_June2019_price.head()

              MODELO              COLOR TALLA  CANTIDAD  PRECIO
0  3gracias bodysuit  lavanda/ash/coral    ch       0.0  1890.0
1  3gracias bodysuit  lavanda/ash/coral    m        1.0  1890.0
2  3gracias bodysuit  lavanda/ash/coral     g       0.0  1890.0
3    gracia bodysuit            lavanda    ch       2.0  1890.0
4    gracia bodysuit            lavanda    m        1.0  1890.0

In [56]:
percentage_nullValues(df_sold_caravana_June2019_price)

          Percentage_NaN
PRECIO              39.6
MODELO               0.0
COLOR                0.0
TALLA                0.0
CANTIDAD             0.0

In [57]:
df_sold_caravana_June2019_price[df_sold_caravana_June2019_price['PRECIO'].isna()]

                MODELO         COLOR TALLA  CANTIDAD  PRECIO
18            eros top       lavanda    ch       2.0     NaN
19            eros top       lavanda    m        2.0     NaN
20            eros top       lavanda     g       1.0     NaN
21            eros top         coral    ch       0.0     NaN
22            eros top         coral    m        2.0     NaN
23            eros top         coral     g       0.0     NaN
24            eros top           ash    ch       1.0     NaN
25            eros top           ash    m        1.0     NaN
26            eros top           ash     g       1.0     NaN
27           aries top       lavanda    ch       0.0     NaN
28           aries top       lavanda    m        2.0     NaN
29           aries top       lavanda     g       1.0     NaN
30           aries top           ash    ch       1.0     NaN
31           aries top           ash    m        2.0     NaN
32           aries top           ash     g       0.0     NaN
46        apolo bottom         negro    ch       0.0     NaN
47        apolo bottom         negro    m        1.0     NaN
48        apolo bottom         negro     g       0.0     NaN
49        apolo bottom           ash    ch      -1.0     NaN
50        apolo bottom           ash     m       0.0     NaN
51        apolo bottom           ash     g       0.0     NaN
58  florencia bodysuit         negro    ch       0.0     NaN
59  florencia bodysuit         negro    m        1.0     NaN
60  florencia bodysuit         negro     g       0.0     NaN
64  florencia bodysuit     ash/negro    ch       0.0     NaN
65  florencia bodysuit     ash/negro    m        1.0     NaN
66  florencia bodysuit     ash/negro     g       0.0     NaN
67     jeronimo bottom         negro    ch       0.0     NaN
68     jeronimo bottom         negro    m        1.0     NaN
69     jeronimo bottom         negro     g       0.0     NaN
70          piscis top         coral    ch       0.0     NaN
71          piscis top         coral    m        2.0     NaN
72          piscis top         coral     g       0.0     NaN
73     jeronimo bottom         coral    ch       1.0     NaN
74     jeronimo bottom         coral     m       2.0     NaN
75     jeronimo bottom         coral     g       1.0     NaN
91            eros top  cotton candy    ch       2.0     NaN
92            eros top  cotton candy     m       1.0     NaN
93            eros top  cotton candy     g       1.0     NaN
97        apolo bottom  cotton candy    ch       1.0     NaN
98        apolo bottom  cotton candy     m       1.0     NaN
99        apolo bottom  cotton candy     g       1.0     NaN

In [58]:
price_map = {'eros top': 750, 'aries top': 850, 'apolo bottom':750, 'jeronimo bottom': 845}
df_sold_caravana_June2019_price['PRECIO'] = df_sold_caravana_June2019_price['PRECIO'].fillna(df_sold_caravana_June2019_price['MODELO'].map(price_map))

In [59]:
df_sold_caravana_June2019_price[df_sold_caravana_June2019_price['PRECIO'].isna()]

                MODELO      COLOR TALLA  CANTIDAD  PRECIO
58  florencia bodysuit      negro    ch       0.0     NaN
59  florencia bodysuit      negro    m        1.0     NaN
60  florencia bodysuit      negro     g       0.0     NaN
64  florencia bodysuit  ash/negro    ch       0.0     NaN
65  florencia bodysuit  ash/negro    m        1.0     NaN
66  florencia bodysuit  ash/negro     g       0.0     NaN
70          piscis top      coral    ch       0.0     NaN
71          piscis top      coral    m        2.0     NaN
72          piscis top      coral     g       0.0     NaN

In [60]:
#as we don't have prices for the above models, we are going to assume the loss of 4 models in the count of sales in caravana
df_sold_caravana_June2019_price = df_sold_caravana_June2019_price.dropna()

In [61]:
percentage_nullValues(df_sold_caravana_June2019_price)

          Percentage_NaN
MODELO               0.0
COLOR                0.0
TALLA                0.0
CANTIDAD             0.0
PRECIO               0.0

In [62]:
df_sold_caravana_June2019_price.to_csv('SalesCaravana_Jun2019')

# FEATURE ENGINEERING

In [ ]:
#Transforming categorical to numerical variable for size

In [64]:
df_sold_caravana_June2019_price.TALLA.unique()

array(['ch', 'm ', 'g', 'm'], dtype=object)

In [65]:
#Step 1. Define map
replace_map = {'TALLA': {'ch':1,'m': 2, 'g': 3, 'm ': 2}}

In [66]:

df_sold_caravana_June2019_replace = df_sold_caravana_June2019_price.copy()

# Step 2. Replace the values with the corresponding map created
df_sold_caravana_June2019_replace.replace(replace_map, inplace=True)

df_sold_caravana_June2019_replace

                MODELO              COLOR  TALLA  CANTIDAD  PRECIO
0    3gracias bodysuit  lavanda/ash/coral      1       0.0  1890.0
1    3gracias bodysuit  lavanda/ash/coral      2       1.0  1890.0
2    3gracias bodysuit  lavanda/ash/coral      3       0.0  1890.0
3      gracia bodysuit            lavanda      1       2.0  1890.0
4      gracia bodysuit            lavanda      2       1.0  1890.0
..                 ...                ...    ...       ...     ...
101  consuelo bodysuit              negro      2       1.0  1450.0
102  consuelo bodysuit              negro      3       0.0  1450.0
103      caña bodysuit             blanco      1       1.0  2100.0
104      caña bodysuit             blanco      2       1.0  2100.0
105      caña bodysuit             blanco      3       2.0  2100.0

[97 rows x 5 columns]

In [67]:
df = df_sold_caravana_June2019_replace.copy()
index_names = df[ (df['CANTIDAD'] == 0)  & ( df['CANTIDAD'] == -1)].index 
                                            
df.drop(index_names, inplace = True)
df

                MODELO              COLOR  TALLA  CANTIDAD  PRECIO
0    3gracias bodysuit  lavanda/ash/coral      1       0.0  1890.0
1    3gracias bodysuit  lavanda/ash/coral      2       1.0  1890.0
2    3gracias bodysuit  lavanda/ash/coral      3       0.0  1890.0
3      gracia bodysuit            lavanda      1       2.0  1890.0
4      gracia bodysuit            lavanda      2       1.0  1890.0
..                 ...                ...    ...       ...     ...
101  consuelo bodysuit              negro      2       1.0  1450.0
102  consuelo bodysuit              negro      3       0.0  1450.0
103      caña bodysuit             blanco      1       1.0  2100.0
104      caña bodysuit             blanco      2       1.0  2100.0
105      caña bodysuit             blanco      3       2.0  2100.0

[97 rows x 5 columns]

In [71]:
df = df_sold_caravana_June2019_replace.copy()
index_names = df[ df['CANTIDAD'] == -1].index 
                                            
df.drop(index_names, inplace = True)
df

                MODELO              COLOR  TALLA  CANTIDAD  PRECIO
0    3gracias bodysuit  lavanda/ash/coral      1       0.0  1890.0
1    3gracias bodysuit  lavanda/ash/coral      2       1.0  1890.0
2    3gracias bodysuit  lavanda/ash/coral      3       0.0  1890.0
3      gracia bodysuit            lavanda      1       2.0  1890.0
4      gracia bodysuit            lavanda      2       1.0  1890.0
..                 ...                ...    ...       ...     ...
101  consuelo bodysuit              negro      2       1.0  1450.0
102  consuelo bodysuit              negro      3       0.0  1450.0
103      caña bodysuit             blanco      1       1.0  2100.0
104      caña bodysuit             blanco      2       1.0  2100.0
105      caña bodysuit             blanco      3       2.0  2100.0

[96 rows x 5 columns]

In [72]:
df['CANTIDAD'].value_counts()

1.0    48
0.0    24
2.0    23
4.0     1
Name: CANTIDAD, dtype: int64

# VISUALISATIONS

In [74]:
# scatter plot for simultaneous size, model and color

fig = px.scatter(df, x='COLOR', y='TALLA', 
                 color='MODELO',
                 size= 'CANTIDAD',
                )

fig.show()