In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\jugat\anaconda3\envs\malaswanalysis\lib\site-packages (3.0.5)
Requirement already satisfied: jdcal in c:\users\jugat\anaconda3\envs\malaswanalysis\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\jugat\anaconda3\envs\malaswanalysis\lib\site-packages (from openpyxl) (1.0.1)

In [2]:
!pip install geopy

Requirement already satisfied: geopy in c:\users\jugat\anaconda3\envs\malaswanalysis\lib\site-packages (2.0.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\jugat\anaconda3\envs\malaswanalysis\lib\site-packages (from geopy) (1.50)

In [3]:
from geopy.geocoders import Nominatim
import numpy as np
import pandas as pd
geolocator = Nominatim(user_agent="geoapiExercises")

In [ ]:
#Locating cities where Mala is present using Geocoder for plotting on map using Tableau

In [4]:
def city_locate(df):
    '''
    Inputs city. Returns the lat/long coordinates of 
    either the city if possible, if not, then returns lat/long of the center of the country.
    '''
    df['Latitude'] = None
    df['Longitude'] = None
    locator = Nominatim(user_agent="myGeocoder")
    
    for i in range(len(df)):
        location = locator.geocode(df.loc[i,'name'])
        df.loc[i,'Latitude'] = location.latitude   
        df.loc[i,'Longitude'] = location.longitude
        
    return df

In [5]:
# Locating cities with stores with wholesale agreements
cities = ['Casitas', 'Maraika', 'Punta de Mita', 'Holbox', 'Oaxaca',
          'San Miguel de Allende', 'Cabo', 'Nayarit', 'León']
cities = pd.DataFrame(cities)
cities.columns = ['name']

In [6]:
new_cities = city_locate(cities)

In [7]:
#Adding type column
new_cities['Type']= 'Mayoreo'

In [8]:
new_cities

                    name Latitude Longitude     Type
0                Casitas  20.2539  -96.7992  Mayoreo
1                Maraika  53.4846   82.8277  Mayoreo
2          Punta de Mita   21.525  -104.881  Mayoreo
3                 Holbox  21.5221  -87.3783  Mayoreo
4                 Oaxaca       17     -96.5  Mayoreo
5  San Miguel de Allende  20.9139  -100.744  Mayoreo
6                   Cabo -8.28389  -35.0321  Mayoreo
7                Nayarit  21.8439  -104.871  Mayoreo
8                   León  42.6341  -5.97142  Mayoreo

In [9]:
# Locating cities with stores with consignment agreements
cities2 = ['Guadalajara', 'Providencia', 'Giovanna', 'Ciudad de México','Ciudad de México', 'Ciudad de México',
           'Ciudad Mante', 'Puebla', 'León', 'Ciudad de México', 'Ciudad de México']
cities2 = pd.DataFrame(cities2)
cities2.columns = ['name']

In [10]:
new_cities_consig = city_locate(cities2)

In [11]:
#Adding type column
new_cities_consig['Type']= 'Consigna'

In [12]:
new_cities_consig

                name Latitude Longitude      Type
0        Guadalajara   20.672  -103.338  Consigna
1        Providencia  1.24204   -77.601  Consigna
2           Giovanna  44.9082   11.9942  Consigna
3   Ciudad de México  19.4326  -99.1332  Consigna
4   Ciudad de México  19.4326  -99.1332  Consigna
5   Ciudad de México  19.4326  -99.1332  Consigna
6       Ciudad Mante  22.7411  -98.9714  Consigna
7             Puebla  18.8333       -98  Consigna
8               León  42.6341  -5.97142  Consigna
9   Ciudad de México  19.4326  -99.1332  Consigna
10  Ciudad de México  19.4326  -99.1332  Consigna

In [13]:
#Concatenating both types
df_locations = pd.concat([new_cities, new_cities_consig], ignore_index=True)

In [14]:
df_locations

                     name Latitude Longitude      Type
0                 Casitas  20.2539  -96.7992   Mayoreo
1                 Maraika  53.4846   82.8277   Mayoreo
2           Punta de Mita   21.525  -104.881   Mayoreo
3                  Holbox  21.5221  -87.3783   Mayoreo
4                  Oaxaca       17     -96.5   Mayoreo
5   San Miguel de Allende  20.9139  -100.744   Mayoreo
6                    Cabo -8.28389  -35.0321   Mayoreo
7                 Nayarit  21.8439  -104.871   Mayoreo
8                    León  42.6341  -5.97142   Mayoreo
9             Guadalajara   20.672  -103.338  Consigna
10            Providencia  1.24204   -77.601  Consigna
11               Giovanna  44.9082   11.9942  Consigna
12       Ciudad de México  19.4326  -99.1332  Consigna
13       Ciudad de México  19.4326  -99.1332  Consigna
14       Ciudad de México  19.4326  -99.1332  Consigna
15           Ciudad Mante  22.7411  -98.9714  Consigna
16                 Puebla  18.8333       -98  Consigna
17                   León  42.6341  -5.97142  Consigna
18       Ciudad de México  19.4326  -99.1332  Consigna
19       Ciudad de México  19.4326  -99.1332  Consigna

In [15]:
#Saving file to excel for use in Tableau
df_locations.to_excel('locations.xlsx')