In [1]:
import seaborn as sns
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

In [2]:
import sys  
sys.path.insert(0, r'C:/Users/jugat/Documents/a_JUGATX/FORMACION/DATA SCIENCE/Functions')

from fx_OUTLIERS import *
from functions_plot_EDA import *
from My_EDA_Functions_library import*
from My_EDA_Visualisation_Functions_library import*

In [1]:
# Analysis of sales in the CARAVANA fashion fair in June 2019.
# Two spreadsheets to work with: 1.inventory of items taken to the fair 
#                                2.inventory of items returned from the fair
# Both these datasets will need to be substracted to figure out how many items were sold

# Import inventory

In [3]:
df_inventoryCARAVANA_JUN2019 = pd.read_excel('../datasets/Sales/Caravana/INVENTARIO_CONTROL_INTERNO_CARAVANA RESORT .xlsx', skiprows=np.arange(0,3),
            usecols= 'B:E')

In [4]:
df_inventoryCARAVANA_JUN2019

                MODELO                   COLOR TALLA  CANTIDAD
0                  NaN                     NaN   NaN       NaN
1    3GRACIAS BODYSUIT  LAVENDER / ASH / CORAL    CH       1.0
2    3GRACIAS BODYSUIT  LAVENDER / ASH / CORAL    M        1.0
3    3GRACIAS BODYSUIT  LAVENDER / ASH / CORAL     G       1.0
4      GRACIA BODYSUIT                LAVENDER    CH       2.0
..                 ...                     ...   ...       ...
112  CONSUELO BODYSUIT                   NEGRO     M       1.0
113  CONSUELO BODYSUIT                   NEGRO     G       1.0
114      CAÑA BODYSUIT                  BLANCO    CH       2.0
115      CAÑA BODYSUIT                  BLANCO     M       1.0
116      CAÑA BODYSUIT                  BLANCO     G       2.0

[117 rows x 4 columns]

In [5]:
df_inventoryCARAVANA_JUN2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MODELO    109 non-null    object
 1   COLOR     109 non-null    object
 2   TALLA     106 non-null    object
 3   CANTIDAD  109 non-null    float64
dtypes: float64(1), object(3)
memory usage: 3.8+ KB

In [ ]:
# IMPORTANT NOTE: there are no prices associated to the items
# The models and colors are written with no consistency with B2C sales datasets already analysed
# Will need additional value transformations to compare datasets and to add prices to items.

## Data Cleansing

In [6]:
def percentage_nullValues(data):
    null_perc = round(data.isnull().sum() / data.shape[0],3) * 100.00
    null_perc = pd.DataFrame(null_perc, columns=['Percentage_NaN'])
    null_perc= null_perc.sort_values(by = ['Percentage_NaN'], ascending = False)
    return null_perc

In [7]:
percentage_nullValues(df_inventoryCARAVANA_JUN2019)

          Percentage_NaN
TALLA                9.4
MODELO               6.8
COLOR                6.8
CANTIDAD             6.8

In [8]:
df_inventoryCARAVANA_JUN2019[df_inventoryCARAVANA_JUN2019['MODELO'].isna()]

   MODELO COLOR TALLA  CANTIDAD
0     NaN   NaN   NaN       NaN
41    NaN   NaN   NaN       NaN
42    NaN   NaN   NaN       NaN
61    NaN   NaN   NaN       NaN
62    NaN   NaN   NaN       NaN
81    NaN   NaN   NaN       NaN
82    NaN   NaN   NaN       NaN
83    NaN   NaN   NaN       NaN

In [9]:
df_inventoryCARAVANA_JUN2019 = df_inventoryCARAVANA_JUN2019.dropna()

In [10]:
df_inventoryCARAVANA_JUN2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106 entries, 1 to 116
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MODELO    106 non-null    object
 1   COLOR     106 non-null    object
 2   TALLA     106 non-null    object
 3   CANTIDAD  106 non-null    float64
dtypes: float64(1), object(3)
memory usage: 4.1+ KB

In [11]:
# Separating categorical variables
cat = df_inventoryCARAVANA_JUN2019.select_dtypes(include=['object'])

for item in cat:
    print (item)
    df_inventoryCARAVANA_JUN2019[item] = df_inventoryCARAVANA_JUN2019[item].str.lower()

MODELO
COLOR
TALLA

## Value transformations

In [12]:
df_inventoryCARAVANA_JUN2019.MODELO = df_inventoryCARAVANA_JUN2019.MODELO.str.rstrip()

In [13]:
df_inventoryCARAVANA_JUN2019.MODELO.unique()

array(['3gracias bodysuit', 'gracia bodysuit', 'naranjo bodysuit',
       'venus bodysuit', 'eros top', 'aries top', 'geminis top',
       'geminis bottom', 'lola bottom', 'apolo bottom', 'maca bottom',
       'florencia bodysuit', 'jeronimo bottom', 'piscis top',
       'emilia bodysuit', 'pastora bodysuit', 'consuelo bodysuit',
       'caña bodysuit'], dtype=object)

In [14]:
#Saving inventory dataset
df_inventoryCARAVANA_JUN2019.to_csv('Inventory.csv')

# Import Returned items

In [15]:
df_returnCARAVANA_JUN2019 = pd.read_excel('../datasets/Sales/Caravana/REGRESÓ DE CARAVANA.xlsx', skiprows=np.arange(0,2),
            usecols= 'A,C:F')

In [16]:
df_returnCARAVANA_JUN2019

      TIPO     MODELO        COLOR TALLA  CANTIDAD
0   BODIES       Caña       Blanco    ch         1
1      NaN   Consuelo        Negro     g         1
2      NaN  Florencia      Bicolor    ch         1
3      NaN  Florencia      Bicolor     m         1
4      NaN  Florencia      Bicolor     g         1
..     ...        ...          ...   ...       ...
77     NaN    Geminis  Lavanda/Ash     g         2
78     NaN   Jeronimo        Coral    ch         1
79     NaN   Jeronimo        Coral     g         1
80     NaN   Jeronimo        Negro    ch         1
81     NaN   Jeronimo        Negro     g         1

[82 rows x 5 columns]

In [ ]:
#Value mapping replacing for consistency accross datasets

In [17]:
df_returnCARAVANA_JUN2019 = df_returnCARAVANA_JUN2019.replace(['BODIES'],['bodysuit'])

In [18]:
df_returnCARAVANA_JUN2019 = df_returnCARAVANA_JUN2019.replace(['TOPS'],['top'])

In [19]:
df_returnCARAVANA_JUN2019 = df_returnCARAVANA_JUN2019.replace(['BOTTOMS'],['bottom'])

In [20]:
#Fill value with data in previous row
df_returnCARAVANA_JUN2019['TIPO'] = df_returnCARAVANA_JUN2019.TIPO.fillna(method='ffill')

In [21]:
df_returnCARAVANA_JUN2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   TIPO      82 non-null     object
 1   MODELO    82 non-null     object
 2   COLOR     82 non-null     object
 3   TALLA     82 non-null     object
 4   CANTIDAD  82 non-null     int64
dtypes: int64(1), object(4)
memory usage: 3.3+ KB

In [22]:
df_returnCARAVANA_JUN2019.TIPO.value_counts()

bodysuit    32
bottom      26
top         24
Name: TIPO, dtype: int64

## Value transformations

In [23]:
type_list = df_returnCARAVANA_JUN2019.get ('TIPO').tolist()

In [24]:
df_returnCARAVANA_JUN2019['MODELO'] = df_returnCARAVANA_JUN2019['MODELO'].astype(str) + ' ' + type_list

In [25]:
# Separating categorical variables
cat = df_returnCARAVANA_JUN2019.select_dtypes(include=['object'])

for item in cat:
    print (item)
    df_returnCARAVANA_JUN2019[item] = df_returnCARAVANA_JUN2019[item].str.lower()

TIPO
MODELO
COLOR
TALLA

In [26]:
df_returnCARAVANA_JUN2019

        TIPO              MODELO        COLOR TALLA  CANTIDAD
0   bodysuit       caña bodysuit       blanco    ch         1
1   bodysuit   consuelo bodysuit        negro     g         1
2   bodysuit  florencia bodysuit      bicolor    ch         1
3   bodysuit  florencia bodysuit      bicolor     m         1
4   bodysuit  florencia bodysuit      bicolor     g         1
..       ...                 ...          ...   ...       ...
77    bottom      geminis bottom  lavanda/ash     g         2
78    bottom     jeronimo bottom        coral    ch         1
79    bottom     jeronimo bottom        coral     g         1
80    bottom     jeronimo bottom        negro    ch         1
81    bottom     jeronimo bottom        negro     g         1

[82 rows x 5 columns]

In [27]:
df_returnCARAVANA_JUN2019.drop(columns = ['TIPO'], inplace=True)

In [28]:
df_returnCARAVANA_JUN2019.head()

               MODELO    COLOR TALLA  CANTIDAD
0       caña bodysuit   blanco    ch         1
1   consuelo bodysuit    negro     g         1
2  florencia bodysuit  bicolor    ch         1
3  florencia bodysuit  bicolor     m         1
4  florencia bodysuit  bicolor     g         1

In [29]:
#Saving returned inventory dataset
df_returnCARAVANA_JUN2019.to_csv('Return.csv')